{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'simpleblog42', 'blog'] %}

{% block title %}ブログ管理{% endblock %}
{% block sub_title %}{{ 'admin.content.contents_management'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="?">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <span class="card-title">{{ 'admin.content.news.news_registration'|trans }}</span></div>
                                <div class="col-4 text-end">
                                    <a data-bs-toggle="collapse" href="#blogForm"
                                                                 aria-expanded="true" aria-controls="blogForm"><i class="fa fa-lg fa-angle-up"></i></a></div>
                            </div>
                        </div>
                        <div class="ec-cardCollapse collapse show" id="blogForm" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3"><span>{{ 'admin.content.news.publish_date'|trans }}</span></div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.publish_date) }}
                                        {{ form_errors(form.publish_date) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3"><span>{{ 'admin.content.news.title'|trans }}</span></div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.title) }}
                                        {{ form_errors(form.title) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'tooltip.content.news.url'|trans }}">
                                            <span>{{ 'admin.content.news.url'|trans }}</span><i class="fa fa-question-circle fa-lg ms-1"></i>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.url) }}
                                        {{ form_errors(form.url) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">&nbsp;</div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.link_method) }}
                                        {{ form_errors(form.link_method) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'tooltip.content.news.body'|trans }}">
                                            <span>{{ 'admin.content.news.body'|trans }}</span><i class="fa fa-question-circle fa-lg ms-1"></i>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        {{ form_widget(form.description) }}
                                        {{ form_errors(form.description) }}
                                    </div>
                                </div>

                                {# エンティティ拡張の自動出力 #}
                                {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {{ form_row(f) }}
                                    {% else %}
                                        <div class="row mb-2">
                                            <div class="col-3">
                                                <span>{{ f.vars.label|trans }}</span>
                                            </div>
                                            <div class="col">
                                                {{ form_widget(f) }}
                                                {{ form_errors(f) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-conversionArea">
                    <div class="c-conversionArea__container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-6">
                                <div class="c-conversionArea__leftBlockItem">
                                    <a class="c-baseLink" href="{{ url('admin_content_blog') }}">
                                        <i class="fa fa-backward" aria-hidden="true"></i>
                                        <span>ブログ管理</span></a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                                    <div class="col-auto">
                                        {{ form_widget(form.visible) }}
                                        {{ form_errors(form.visible) }}
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.registration'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="c-contentsArea__secondaryCol">
                <div class="c-secondaryCol">




                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block">
                                        <span class="card-title">{{ 'admin.product.category__product_card_title'|trans }}</span>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <a data-bs-toggle="collapse" href="#category" aria-expanded="false"
                                    aria-controls="category">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="category">
                            <div class="card-body">
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-text">
                                                    <span id="basic-addon1">
                                                            <i class="fa fa-search"></i>
                                                    </span>
                                                </div>
                                                <input id="search-category" class="form-control" type="search"
                                                    placeholder="{{ 'admin.product.search_category'|trans }}"
                                                    aria-label="Search">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% macro tree(ChoicedIds, Category, form) %}
                                    {% import _self as selfMacro %}
                                    <li class="c-directoryTree--registerItem category-li">
                                        <input type="checkbox" id="admin_blog_category_{{ Category.id }}" name="admin_blog[Category][]" value="{{ Category.id }}" {% if Category.id in ChoicedIds %}checked{% endif %}>
                                        <label for="admin_blog_category_{{ Category.id }}">{{ Category.name }}</label>
                                    </li>
                                {% endmacro %}
                                <div class="c-directoryTree--register rounded border mb-3 p-3">
                                    {% import _self as renderMacro %}
                                    {% for TopCategory in TopCategories %}
                                        <ul class="list-unstyled">
                                            {{ renderMacro.tree(ChoicedCategoryIds, TopCategory, form.Category) }}
                                        </ul>
                                    {% endfor %}
                                    {{ form_errors(form.Category) }}
                                </div>
                                <div class="d-block text-center">
                                    <a class="btn w-100 btn-ec-regular"
                                    data-action="confirm"
                                    href="{{ path('admin_content_blog') }}"
                                    title="{{ 'admin.common.move_to_confirm_message'|trans({
                                        '%name%' : 'admin.product.category_management'|trans}) }}">{{ 'admin.product.move_to_category'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                


                
                </div>
            </div>


        </div>
    </form>

{% endblock %}
